.App {
  text-align: center;
}

.questionCard {
  border-radius: 25px;
  min-height: 200px;
  overflow-wrap: break-word;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
}
